*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


body{
    margin: auto;
    height: auto;
    overflow: hidden;
    background-color: #ACB1B7;
}

/*----------------------------- nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #061C30;
    height: 75px;
    display:flex;
    justify-content: center;
}

li {
    padding-left: 50px;
    float: left;
}
  
a{
    color: aliceblue;
    display: block;
    padding: 30px;
    text-decoration: none;
}


/*---------------------------------- about me */

.container {
    display: flex;
    height: 100vh; 
}

.image {
    flex: 1;
    background: url('C:/Users/den/Documents/nathan site/NathanWalkerPT/Assets/pexels-victorfreitas-791763.jpg') no-repeat center center;
    background-size: cover;
}

.text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-content {
    max-width: 600px;
}


/* ------------------------------pricing */

#pricing-buttons{
    /* background-color: aquamarine; */
    width: 600px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pricing-buttons button{
    display: block;
    border: none;
    height: 70px;
    width: 300px;
    border-radius: 5px;
    text-decoration: none;
    font-size: medium;
}

.pricing-buttons-content{

}

#pricing-info{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricing-info-btn{
    width: 520px;
    height: 400px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}