*{
    margin: 0;
    padding: 0;
    font-family: "Lexend";
}


body{
    margin: auto;
    height: auto;
    overflow: hidden;
    background-color: #ACB1B7;
    color: white;
}

body h1{
    font-family:"Koulen";
    font-size: 60px;
}


/*----------------------------- nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #061C30;
    height: 75px;
    display:flex;
    justify-content: center;
}

li {
    padding-left: 50px;
    float: left;
}
  
a{
    color: aliceblue;
    display: block;
    padding: 30px;
    text-decoration: none;
}

.box-logo{
    background-color: blue;
    width:200px;
    width:100px;
}


/*---------------------------------- about me */

.container {
    display: flex;
    height: 100vh; 
}

.image {
    flex: 1;
    background: url('C:/Users/den/Documents/nathan site/NathanWalkerPT/Assets/pexels-victorfreitas-791763.jpg') no-repeat center center;
    background-size: cover;
}

.text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-content {
    max-width: 600px;
}


/* ------------------------------pricing */


#pricing-body{
    background-color: #111C27;
}

#pricing-button-area{
    /* background-color: aquamarine; */
    width: 600px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pricing-button-area p{
    padding-top: 20px;
}

#pricing-button-area button{
    display: block;
    border: none;
    height: 70px;
    width: 300px;
    border-radius: 5px;
    text-decoration: none;
    font-size: medium;
    color: white;
    background-color: #6e869b;
}

#pricing-button-area button:hover{
    background-color: #4F6171;
}

.pricing-button{
    padding-bottom: 10px;
}

.pricing-buttons-content{
    padding-top: 20px;
    width:500px;
}

#pricing-info{
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    /* display: flex; */
    /* flex-direction: row;
    align-items: center; */
}

.pricing-info-box{
    width: 520px;
    height: 400px;
    background-color: #4F6171;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}